<ion-view title="Step 2">
	<ion-content>
  <body ng-controller="MapController">
  <div id="map" data-tab-disabled="true"></div>
                  <a id="firebaseRef"></a>
    <div id="log"></div>
</ion-content>
</ion-view>
<ion-footer-bar align-title="center">
  <div class="buttons">
  </div>
  <h1 class="title">Access the power of government.</h1>
  <div class="buttons">
  	<button class="button" ng-click="go('/request')">
Next</button>
  </div>
</ion-footer-bar>