<ion-view title="Report Issues to the City of San Jose">
	<ion-nav-buttons side="right">
		<button class="button button-icon icon ion-camera" ng-click="upload()"></button>
	</ion-nav-buttons>
	<ion-content>
		<div class="row" ng-repeat="image in images" ng-if="$index % 4 === 0">
			<div class="col col-25" ng-if="$index + 1 < images.length">
				<img ng-src="data:image/jpeg;base64,{{images[$index + 1].image}}" width="100%" />
			</div>
			<div class="col col-25" ng-if="$index + 2 < images.length">
				<img ng-src="data:image/jpeg;base64,{{images[$index + 2].image}}" width="100%" />
			</div>
			<div class="col col-25" ng-if="$index + 3 < images.length">
				<img ng-src="data:image/jpeg;base64,{{images[$index + 3].image}}" width="100%" />
			</div>
		</div>
	</ion-content>
</ion-view>
<ion-footer-bar align-title="center">
  <div class="buttons">
  </div>
  <h1 class="title">Access the power of government.</h1>
  <div class="buttons">
  	<button class="button" ng-click="go('/map')">
Next</button>
  </div>
</ion-footer-bar>