<ion-view title="Map">
	<ion-nav-buttons side="right">
		<button class="button button-icon icon ion-camera" ng-click="upload()"></button>
	</ion-nav-buttons>
	<ion-content ng-controller="MapController">
		<div id="map" data-tab-disabled="true"></div>
		<div class="list list-inset">
		<label class="item item-input">
			<input ng-model="username" type="text" placeholder="Helpful Comment" />
		</label>
		</div>
	</ion-content>
</ion-view>
<ion-footer-bar align-title="right" class="bar">
		 <div class="buttons" ng-click="doSomething()">
    <button class="button">Submit</button>
  </div>
</ion-footer-bar>